apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "lvm.topolvm.io/v1alpha1",
          "kind": "LVMCluster",
          "metadata": {
            "name": "lvmcluster-sample"
          },
          "spec": {
            "storage": {
              "deviceClasses": [
                {
                  "name": "vg1",
                  "thinPoolConfig": {
                    "name": "thin-pool-1",
                    "overprovisionRatio": 50,
                    "sizePercent": 50
                  }
                }
              ]
            }
          }
        },
        {
          "apiVersion": "lvm.topolvm.io/v1alpha1",
          "kind": "LVMVolumeGroup",
          "metadata": {
            "name": "lvmvolumegroup-sample"
          },
          "spec": null
        },
        {
          "apiVersion": "lvm.topolvm.io/v1alpha1",
          "kind": "LVMVolumeGroupNodeStatus",
          "metadata": {
            "name": "lvmvolumegroupnodestatus-sample"
          },
          "spec": null
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.13.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
  name: lvm-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: LogicalVolume
      name: logicalvolumes.topolvm.cybozu.com
      version: v1
    - description: LVMCluster is the Schema for the lvmclusters API
      displayName: LVMCluster
      kind: LVMCluster
      name: lvmclusters.lvm.topolvm.io
      version: v1alpha1
    - kind: LVMVolumeGroupNodeStatus
      name: lvmvolumegroupnodestatuses.lvm.topolvm.io
      version: v1alpha1
    - kind: LVMVolumeGroup
      name: lvmvolumegroups.lvm.topolvm.io
      version: v1alpha1
  description: The ODF LVM Operator manages local storage using LVM.
  displayName: ODF LVM Operator
  icon:
  - base64data: PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIgMTQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UwMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlJlZEhhdC1Mb2dvLUhhdC1Db2xvcjwvdGl0bGU+PHBhdGggZD0iTTE1Ny43Nyw2Mi42MWExNCwxNCwwLDAsMSwuMzEsMy40MmMwLDE0Ljg4LTE4LjEsMTcuNDYtMzAuNjEsMTcuNDZDNzguODMsODMuNDksNDIuNTMsNTMuMjYsNDIuNTMsNDRhNi40Myw2LjQzLDAsMCwxLC4yMi0xLjk0bC0zLjY2LDkuMDZhMTguNDUsMTguNDUsMCwwLDAtMS41MSw3LjMzYzAsMTguMTEsNDEsNDUuNDgsODcuNzQsNDUuNDgsMjAuNjksMCwzNi40My03Ljc2LDM2LjQzLTIxLjc3LDAtMS4wOCwwLTEuOTQtMS43My0xMC4xM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMjcuNDcsODMuNDljMTIuNTEsMCwzMC42MS0yLjU4LDMwLjYxLTE3LjQ2YTE0LDE0LDAsMCwwLS4zMS0zLjQybC03LjQ1LTMyLjM2Yy0xLjcyLTcuMTItMy4yMy0xMC4zNS0xNS43My0xNi42QzEyNC44OSw4LjY5LDEwMy43Ni41LDk3LjUxLjUsOTEuNjkuNSw5MCw4LDgzLjA2LDhjLTYuNjgsMC0xMS42NC01LjYtMTcuODktNS42LTYsMC05LjkxLDQuMDktMTIuOTMsMTIuNSwwLDAtOC40MSwyMy43Mi05LjQ5LDI3LjE2QTYuNDMsNi40MywwLDAsMCw0Mi41Myw0NGMwLDkuMjIsMzYuMywzOS40NSw4NC45NCwzOS40NU0xNjAsNzIuMDdjMS43Myw4LjE5LDEuNzMsOS4wNSwxLjczLDEwLjEzLDAsMTQtMTUuNzQsMjEuNzctMzYuNDMsMjEuNzdDNzguNTQsMTA0LDM3LjU4LDc2LjYsMzcuNTgsNTguNDlhMTguNDUsMTguNDUsMCwwLDEsMS41MS03LjMzQzIyLjI3LDUyLC41LDU1LC41LDc0LjIyYzAsMzEuNDgsNzQuNTksNzAuMjgsMTMzLjY1LDcwLjI4LDQ1LjI4LDAsNTYuNy0yMC40OCw1Ni43LTM2LjY1LDAtMTIuNzItMTEtMjcuMTYtMzAuODMtMzUuNzgiLz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - apps
          resources:
          - daemonsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmclusters
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmclusters/finalizers
          verbs:
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmclusters/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses/finalizers
          verbs:
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroups
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroups/finalizers
          verbs:
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroups/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - security.openshift.io
          resources:
          - securitycontextconstraints
          verbs:
          - create
          - delete
          - get
          - update
        - apiGroups:
          - storage.k8s.io
          resources:
          - csidrivers
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - storageclasses
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - topolvm.cybozu.com
          resources:
          - logicalvolumes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: controller-manager
      deployments:
      - name: lvm-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
                exporter: lvm-operator
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources: {}
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                env:
                - name: TOPOLVM_CSI_IMAGE
                  value: quay.io/topolvm/topolvm:0.11.0
                - name: CSI_LIVENESSPROBE_IMAGE
                  value: k8s.gcr.io/sig-storage/livenessprobe:v2.5.0
                - name: CSI_PROVISIONER_IMAGE
                  value: k8s.gcr.io/sig-storage/csi-provisioner:v3.0.0
                - name: CSI_REGISTRAR_IMAGE
                  value: k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.3.0
                - name: CSI_RESIZER_IMAGE
                  value: k8s.gcr.io/sig-storage/csi-resizer:v1.3.0
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                image: quay.io/nibalach/lvm-operator:e2e
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 200m
                    memory: 100Mi
                  requests:
                    cpu: 100m
                    memory: 20Mi
                securityContext:
                  allowPrivilegeEscalation: false
              - command:
                - /metricsexporter
                image: quay.io/nibalach/lvm-operator:e2e
                name: metricsexporter
                resources: {}
              securityContext:
                runAsNonRoot: true
              serviceAccountName: controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - local storage
  - operator
  - LVM
  links:
  - name: Lvm Operator
    url: https://lvm-operator.domain
  maintainers:
  - email: ocs-support@redhat.com
    name: Red Hat Support
  maturity: alpha
  provider:
    name: Red Hat
  version: 0.0.1
