apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "lvm.topolvm.io/v1alpha1",
          "kind": "LVMCluster",
          "metadata": {
            "name": "my-lvmcluster"
          },
          "spec": {
            "storage": {
              "deviceClasses": [
                {
                  "default": true,
                  "fstype": "xfs",
                  "name": "vg1",
                  "thinPoolConfig": {
                    "name": "thin-pool-1",
                    "overprovisionRatio": 10,
                    "sizePercent": 90
                  }
                }
              ]
            }
          }
        }
      ]
    capabilities: Seamless Upgrades
    categories: Storage
    containerImage: quay.io/lvms_dev/lvms-operator:latest
    description: Logical volume manager storage provides dynamically provisioned local
      storage for container workloads
    olm.skipRange: ""
    operatorframework.io/cluster-monitoring: "true"
    operatorframework.io/initialization-resource: |-
      {
          "apiVersion": "lvm.topolvm.io/v1alpha1",
          "kind": "LVMCluster",
          "metadata": {
            "name": "test-lvmcluster"
          },
          "spec": {
            "storage": {
              "deviceClasses": [
                {
                  "name": "vg1",
                  "thinPoolConfig": {
                    "name": "thin-pool-1",
                    "overprovisionRatio": 10,
                    "sizePercent": 90
                  }
                }
              ]
            }
          }
        }
    operatorframework.io/suggested-namespace: openshift-storage
    operators.openshift.io/infrastructure-features: '["csi", "disconnected"]'
    operators.openshift.io/valid-subscription: '["OpenShift Container Platform", "OpenShift
      Platform Plus"]'
    operators.operatorframework.io/builder: operator-sdk-v1.32.0
    operators.operatorframework.io/internal-objects: '["logicalvolumes.topolvm.io",
      "lvmvolumegroups.lvm.topolvm.io", "lvmvolumegroupnodestatuses.lvm.topolvm.io"]'
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/openshift/lvm-operator
    target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
  labels:
    operatorframework.io/arch.amd64: supported
    operatorframework.io/arch.arm64: supported
    operatorframework.io/arch.ppc64le: supported
    operatorframework.io/arch.s390x: supported
  name: lvms-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - kind: LogicalVolume
      name: logicalvolumes.topolvm.io
      version: v1
    - description: LVMCluster is the Schema for the lvmclusters API
      displayName: LVMCluster
      kind: LVMCluster
      name: lvmclusters.lvm.topolvm.io
      version: v1alpha1
    - kind: LVMVolumeGroupNodeStatus
      name: lvmvolumegroupnodestatuses.lvm.topolvm.io
      version: v1alpha1
    - kind: LVMVolumeGroup
      name: lvmvolumegroups.lvm.topolvm.io
      version: v1alpha1
  description: Logical volume manager storage provides dynamically provisioned local
    storage.
  displayName: LVM Storage
  icon:
  - base64data: PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIgMTQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UwMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlJlZEhhdC1Mb2dvLUhhdC1Db2xvcjwvdGl0bGU+PHBhdGggZD0iTTE1Ny43Nyw2Mi42MWExNCwxNCwwLDAsMSwuMzEsMy40MmMwLDE0Ljg4LTE4LjEsMTcuNDYtMzAuNjEsMTcuNDZDNzguODMsODMuNDksNDIuNTMsNTMuMjYsNDIuNTMsNDRhNi40Myw2LjQzLDAsMCwxLC4yMi0xLjk0bC0zLjY2LDkuMDZhMTguNDUsMTguNDUsMCwwLDAtMS41MSw3LjMzYzAsMTguMTEsNDEsNDUuNDgsODcuNzQsNDUuNDgsMjAuNjksMCwzNi40My03Ljc2LDM2LjQzLTIxLjc3LDAtMS4wOCwwLTEuOTQtMS43My0xMC4xM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMjcuNDcsODMuNDljMTIuNTEsMCwzMC42MS0yLjU4LDMwLjYxLTE3LjQ2YTE0LDE0LDAsMCwwLS4zMS0zLjQybC03LjQ1LTMyLjM2Yy0xLjcyLTcuMTItMy4yMy0xMC4zNS0xNS43My0xNi42QzEyNC44OSw4LjY5LDEwMy43Ni41LDk3LjUxLjUsOTEuNjkuNSw5MCw4LDgzLjA2LDhjLTYuNjgsMC0xMS42NC01LjYtMTcuODktNS42LTYsMC05LjkxLDQuMDktMTIuOTMsMTIuNSwwLDAtOC40MSwyMy43Mi05LjQ5LDI3LjE2QTYuNDMsNi40MywwLDAsMCw0Mi41Myw0NGMwLDkuMjIsMzYuMywzOS40NSw4NC45NCwzOS40NU0xNjAsNzIuMDdjMS43Myw4LjE5LDEuNzMsOS4wNSwxLjczLDEwLjEzLDAsMTQtMTUuNzQsMjEuNzctMzYuNDMsMjEuNzdDNzguNTQsMTA0LDM3LjU4LDc2LjYsMzcuNTgsNTguNDlhMTguNDUsMTguNDUsMCwwLDEsMS41MS03LjMzQzIyLjI3LDUyLC41LDU1LC41LDc0LjIyYzAsMzEuNDgsNzQuNTksNzAuMjgsMTMzLjY1LDcwLjI4LDQ1LjI4LDAsNTYuNy0yMC40OCw1Ni43LTM2LjY1LDAtMTIuNzItMTEtMjcuMTYtMzAuODMtMzUuNzgiLz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - apps
          resources:
          - daemonsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - apps
          resources:
          - replicasets
          verbs:
          - get
        - apiGroups:
          - config.openshift.io
          resources:
          - infrastructures
          verbs:
          - get
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - node
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims
          verbs:
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - persistentvolumeclaims/status
          verbs:
          - patch
        - apiGroups:
          - ""
          resources:
          - persistentvolumes
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmclusters
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmclusters/finalizers
          verbs:
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmclusters/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses/finalizers
          verbs:
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroups
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroups/finalizers
          verbs:
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroups/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - security.openshift.io
          resources:
          - securitycontextconstraints
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotclasses
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents
          verbs:
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshotcontents/status
          verbs:
          - patch
          - update
        - apiGroups:
          - snapshot.storage.k8s.io
          resources:
          - volumesnapshots
          verbs:
          - get
          - list
        - apiGroups:
          - storage.k8s.io
          resources:
          - csidrivers
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - csinodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - csistoragecapacities
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - storageclasses
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - storage.k8s.io
          resources:
          - volumeattachments
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - topolvm.io
          resources:
          - logicalvolumes
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - topolvm.io
          resources:
          - logicalvolumes/status
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: lvms-operator
      - rules:
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
          - watch
          - update
          - patch
        - apiGroups:
          - topolvm.io
          resources:
          - logicalvolumes
          - logicalvolumes/status
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - delete
          - patch
        - apiGroups:
          - storage.k8s.io
          resources:
          - csidrivers
          verbs:
          - get
          - list
          - watch
        serviceAccountName: vg-manager
      deployments:
      - label:
          app.kubernetes.io/name: lvms-operator
        name: lvms-operator
        spec:
          replicas: 1
          selector:
            matchLabels:
              app.kubernetes.io/name: lvms-operator
          strategy: {}
          template:
            metadata:
              annotations:
                target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
              labels:
                app.kubernetes.io/component: lvms-operator
                app.kubernetes.io/name: lvms-operator
                app.kubernetes.io/part-of: lvms-provisioner
            spec:
              containers:
              - args:
                - --health-probe-bind-address=:8081
                - --leader-elect
                command:
                - /lvms
                - operator
                env:
                - name: GOGC
                  value: "120"
                - name: GOMEMLIMIT
                  value: 50MiB
                - name: GOMAXPROCS
                  value: "2"
                - name: NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                image: quay.io/lvms_dev/lvms-operator:latest
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 10
                  periodSeconds: 20
                name: manager
                ports:
                - containerPort: 9443
                  name: webhook-server
                  protocol: TCP
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 3
                  periodSeconds: 30
                resources:
                  requests:
                    cpu: 5m
                    memory: 50Mi
                securityContext:
                  allowPrivilegeEscalation: false
                volumeMounts:
                - mountPath: /tmp/k8s-webhook-server/serving-certs
                  name: cert
                  readOnly: true
                - mountPath: /tmp/k8s-metrics-server/serving-certs
                  name: metrics-cert
                  readOnly: true
                - mountPath: /run/topolvm
                  name: socket-dir
              securityContext:
                runAsNonRoot: true
              serviceAccountName: lvms-operator
              terminationGracePeriodSeconds: 60
              volumes:
              - name: cert
                secret:
                  defaultMode: 420
                  secretName: lvms-operator-webhook-server-cert
              - name: metrics-cert
                secret:
                  defaultMode: 420
                  secretName: lvms-operator-metrics-cert
              - emptyDir: {}
                name: socket-dir
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: lvms-operator
      - rules:
        - apiGroups:
          - lvm.topolvm.io
          - apps
          resources:
          - lvmvolumegroups
          - daemonsets
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroups/finalizers
          verbs:
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroups/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses/finalizers
          verbs:
          - update
        - apiGroups:
          - lvm.topolvm.io
          resources:
          - lvmvolumegroupnodestatuses/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
          - update
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        serviceAccountName: vg-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - local storage
  - operator
  - LVM
  links:
  - name: Source Repository
    url: https://github.com/openshift/lvm-operator
  maintainers:
  - email: ocs-support@redhat.com
    name: Red Hat Support
  maturity: alpha
  provider:
    name: Red Hat
  version: 0.0.1
  webhookdefinitions:
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: lvms-operator
    failurePolicy: Fail
    generateName: vlvmcluster.kb.io
    rules:
    - apiGroups:
      - lvm.topolvm.io
      apiVersions:
      - v1alpha1
      operations:
      - CREATE
      - UPDATE
      resources:
      - lvmclusters
    sideEffects: None
    targetPort: 9443
    type: ValidatingAdmissionWebhook
    webhookPath: /validate-lvm-topolvm-io-v1alpha1-lvmcluster
