---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vg-manager-role
rules:
- apiGroups:
  - lvm.topolvm.io
  - apps
  resources:
  - lvmvolumegroups
  - daemonsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - csistoragecapacities
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - lvm.topolvm.io
  resources:
  - lvmvolumegroups/finalizers
  verbs:
  - update
- apiGroups:
  - lvm.topolvm.io
  resources:
  - lvmvolumegroups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - lvm.topolvm.io
  resources:
  - lvmvolumegroupnodestatuses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - lvm.topolvm.io
  resources:
  - lvmvolumegroupnodestatuses/finalizers
  verbs:
  - update
- apiGroups:
  - lvm.topolvm.io
  resources:
  - lvmvolumegroupnodestatuses/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
    - ""
  resources:
    - events
  verbs:
    - create
    - patch
    - update
- apiGroups:
    - coordination.k8s.io
  resources:
    - leases
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
- apiGroups:
  - kubesan.gitlab.io
  resources:
    - volumes
  verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
