# scc for the vgManager daemonset
kind: SecurityContextConstraints
apiVersion: security.openshift.io/v1
metadata:
  name: vg-manager
allowPrivilegedContainer: true
allowHostDirVolumePlugin: true
priority:
allowHostNetwork: false
allowHostPorts: false
allowedCapabilities: []
allowHostPID: true
allowHostIPC: true
readOnlyRootFilesystem: false
requiredDropCapabilities: []
defaultAddCapabilities: []
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
fsGroup:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
volumes:
  - configMap
  - emptyDir
  - hostPath
  - secret
