---
name: codespell

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  codespell:
    name: codespell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: codespell
        uses: codespell-project/actions-codespell@master
        with:
          exclude_file: go.sum
          check_filenames: true
          check_hidden: true
          skip: vendor
